.details-container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image img{
    width: 75%;
    height: 90%;
    border-radius: 4px;

}

.details {
    width: 50%;
    height: auto;
}

.details-heading {
    font-size: 45px;
    margin: 0 0 20px 0;
}

.details-summary{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 17px;
}

.ticket-btn {
    width: 50%;
    height: 40px;
    margin: 17px auto;
    background: red;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.lang-rat {
    width: 62%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    position: absolute;
    top: 7%;
    width: 30%;
    height: auto;
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    border: 1px solid red;
    background-color: black;
    border-radius: 3px;
}

.form-h3{
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 800;
}

.form input{
    padding: 5px 2px;
    margin: 5px 0 15px 0;
}

.form-submit{
    width: 100%;
    height: 38px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.icon-cancle{
    position: relative;
    top: 0%;
    left: 97%;
    font-size: 28px;
    cursor: pointer;
}


@media screen and (max-width: 1000px){


    .details-container{
        flex-direction: column;
        justify-content: start;
    }

    .image{
        width: 90%;
        margin-top: 10px;
        height: 300px;
    }

    .image img{
        aspect-ratio: 3/2;
    }

    .details-heading{
        font-size: 35px;
    }

    .lang-rat{
        width: 100%;
    }

    .ticket-btn{
        width: 100%;
        font-size: 12px;
    }

    .form{
        width: 60%;
    }

    .details{
        width: 80%;
    }

}